@page
@model IndexModel
@{
    ViewData["Title"] = "ThorstenAlpers.de - Über mich";
}


<div class="container text-center" id="particles-text">
    <div class="row">
        <div class="col">
            <p class="big-text">Hi!</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p class="big-text">Ich bin <span class="text-dark font-weight-bold typed-text"></span></p>
        </div>
    </div>
</div>

<div id="particles-js" />

